body {
	background-color: black;
}

h3 {
	margin-top: -35px;
	padding-left: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #39ff14;

}

.gallows {
	color: #39ff14;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	width: 70px;
	height: 20px;
	text-align: center;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

section {
	display: grid;
	grid-gap: 10px;
	max-width: 200px;
	align-items: center;
	justify-content: center;
/*	grid-template-rows: 5;	
	grid-template-columns: 6;
	grid-template: repeat(6, 1fr) / repeat(6, 1fr); */
	grid-template-areas: 
	"d d d d d d"
	"d d d d d d"
	"d d d d d d"
	"d d d d d d";
/*	". . d d . .";*/
}

.alphabet {
	justify-content: center;
	align-items: center;
	display: grid;
	grid-area: "d";
	text-align: center;
	border-radius: 5px;
	background-color: #39ff14;
	color: black;
	width: 18px;
	height: 18px;
}